body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  min-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.main-header-logo img:hover {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-header {
  background: #eee;
  padding: 50px 0 0;
}

.main-navigation {
  line-height: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-navigation,
.cart-navigation {
  margin: 0;
  padding: 15px 0 0;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation {
  margin: 0 0 0 -42px;
  width: 440px;
}

.site-navigation a,
.cart-navigation a {
  color: #000;
  display: block;
}

.cart-link {
  position: relative;
  padding: 0 0 0 40px;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.site-navigation a:hover,
.cart-navigation a:hover,
.site-navigation a:focus,
.cart-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  position: relative;
  background-color: #eee;
  background-repeat: no-repeat;
  margin: 0 0 80px;
}

.promo-heading {
  margin: 0 0 27px;
  width: 520px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.promo-text {
  margin: 0 0 38px;
}

.promo-item:first-child {
  background: url("../img/slide1.png") no-repeat 93% 18px;
}

.promo-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat 100% 0;
}

.promo-item:last-child {
  background: url("../img/slide3.png") no-repeat 100% 20px;
}

.promo-item {
  display: none;
  box-sizing: border-box;
  min-height: 430px;
  padding: 78px 0 80px 0;
  animation: slideOut 1s;
}

.promo-item-current {
  display: block;
  animation: slideShow 1s;
}

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 1;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls li {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls li::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
}

.slider-controls-current::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.app-btn {
  background-color: #00ca74;
}

.app-btn:hover,
.app-btn:focus {
  background-color: #00bc6c;
}

.app-btn:active {
  background-color: #00aa62;
}

.present-btn {
  background-color: #efc84a;
}

.present-btn:hover,
.present-btn:focus {
  background-color: #eab534;
}

.present-btn:active {
  background-color: #e5a722;
}

.services-list {
  list-style: none;
  padding: 0 0 80px;
  margin: 0 0 40px;
  border-bottom: 2px solid #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  flex-basis: 300px;
}

.services-item:first-child {
  background-image: url("../img/services-1.jpg");
  background-repeat: no-repeat;
}

.services-item:nth-child(2) {
  background-image: url("../img/services-2.jpg");
  background-repeat: no-repeat;
}

.services-item:last-child {
  background-image: url("../img/services-3.jpg");
  background-repeat: no-repeat;
  margin: 0 60px 0 0;
}

.services-title {
  margin: 172px 0 20px;
  font-size: 24px;
  line-height: 24px;
}

.services-text {
  margin: 0 0 35px;
  width: 250px;
}

.services-item .button {
  width: 160px;
}

.info {
  padding: 0 0 50px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}

.info-features {
  width: 680px;
}

.info-stats {
  width: 360px;
}

.info-heading {
  margin: 0;
  padding: 32px 0 34px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.info-text {
  margin: 0;
  padding: 0 0 38px;
}

.info-features .title {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 25px;
}

.info-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 35px;
}

.info-item {
  margin: 23px 0;
  position: relative;
}

.info-item::before {
  position: absolute;
  left: -35px;
  top: 12px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.info-table {
  border-collapse: collapse;
}

.info-table .title {
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 55px 0;
}

.info-table th {
  width: 115px;
  padding: 0 0 35px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000;
  text-align: left;
}

.info-table sup {
  vertical-align: middle;
  font-size: 24px;
}

.info-table td {
  width: 115px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.partners {
  border-bottom: 2px solid #eee;
  margin: 0 0 80px;
  min-height: 180px;
}

.partners-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 50px 43px 0 31px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item:hover img {
  opacity: 1;
}

.partners-item:active img {
  opacity: 0.1;
}

.partners-item:nth-child(2),
.partners-item:nth-child(3) {
  margin: 0 0 0 -20px;
}

.partners-item:not(:nth-child(4n))::after {
  content: "";
  position: absolute;
  top: 65px;
  margin: 0 0 0 50px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.partners-item:nth-child(2)::after {
  margin: 0 0 0 40px;
}

.partners-item:nth-child(3)::after {
  margin: 0 0 0 55px;
}

.address-container {
  position: relative;
}

.map iframe {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.address {
  padding: 50px 50px 47px;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: 20px;
  content: "";
  width: 320px;
  max-height: 310px;
  overflow-y: auto;
  background-color: #fff;
}

.address .title {
  margin: 0;
  padding: 0 0 25px;
}

.address p {
  margin: 0;
  padding: 0 0 17px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.contact-btn {
  width: 220px;
  margin: 20px 0 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-footer {
  padding: 65px 0;
}

.social {
  width: 260px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-btn {
  display: block;
  width: 80px;
  height: 80px;
  background: #e1e1e1 no-repeat 50% 50%;
  border-radius: 50%;
}

.vk-btn {
  background-image: url("../img/vk-icon.svg");
}

.fb-btn {
  background-image: url("../img/fb-icon.svg");
}

.insta-btn {
  background-image: url("../img/insta-icon.svg");
}

.vk-btn:hover,
.fb-btn:hover,
.insta-btn:hover,
.vk-btn:focus,
.fb-btn:focus,
.insta-btn:focus {
  background-color: #e74246;
}

.vk-btn:active {
  background-color: #d7373b;
  background-image: url("../img/vk-active.svg");
}

.fb-btn:active {
  background-color: #d7373b;
  background-image: url("../img/fb-active.svg");
}

.insta-btn:active {
  background-color: #d7373b;
  background-image: url("../img/insta-active.svg");
}

.discount {
  width: 560px;
  margin: 0 0 0 140px;
}

.discount-caption {
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.discount-text {
  margin: 0;
}

.discount-caption+p {
  font-size: 16px;
  line-height: 22px;
  color: #444;
}

/*---------------------------- catalog-page----------------------------- */

.page-title {
  background-color: #eee;
  margin: 0 0 55px;
  padding: 75px 0 110px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  position: absolute;
  content: "";
  bottom: -4px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.page-title h1 {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-templates {
  width: 760px;
}

.filter {
  font-size: 16px;
  color: #283136;
}

.price legend {
  margin: 0 0 48px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter .price {
  margin: 0 0 55px;
}

.filter .grid {
  position: relative;
  margin: 0 0 25px;
}

.filter .advantage {
  position: relative;
  margin: 0 0 30px;
}

.filter ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 0 0 35px;
}

.grid legend {
  margin: 0 0 15px;
}

.advantage legend {
  margin: 0 0 15px;
}

.filter-option {
  margin: 0 0 20px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 26px;
  height: 26px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked+label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 28px;
  height: 24px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked+label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-option label {
  line-height: 20px;
  opacity: 0.4;
}

.filter-option label:hover,
.filter-input-radio:focus+label,
.filter-input-checkbox:focus+label {
  color: #000;
  opacity: 1;
}

.filter-input-radio:disabled+label,
.filter-input-checkbox:disabled+label {
  opacity: 0.1;
}

.filter-price-block {
  box-sizing: border-box;
  padding: 39px 20px;
  margin: 0 0 12px;
  width: 260px;
  min-height: 80px;
  background-color: #eee;
  border-radius: 5px;
}

.price-range {
  position: relative;
  width: 100%;
  height: 2px;
  background: #d7dcde;
}

.bar {
  position: absolute;
  height: 2px;
  left: 0;
  right: 80px;
  background: #00ca74;
}

.price-range-min,
.price-range-max {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.price-range-min {
  left: 0;
}

.price-range-max {
  left: 140px;
}

.filter-input {
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  border: none;
  width: 80px;
  height: 38px;
  background-color: #eee;
  border-radius: 5px;
}

.filter-price {
  margin: 0;
  text-transform: uppercase;
  line-height: 22px;
}

.filter-price label {
  margin: 0 8px 0 0;
}

.price-input-min {
  margin: 0 24px 0 0;
}

.filter-btn {
  width: 260px;
  color: #000;
  background-color: #eee;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #dfdfdf;
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.sort {
  margin: 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sort-list,
.direction-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-list {
  width: 270px;
  margin: 0 0 0 auto;
}

.direction-list {
  width: 40px;
  margin: 0 0 0 50px;
}

.direction-item a {
  display: block;
  margin: 10px 0;
  width: 12px;
  height: 10px;
  vertical-align: middle;
}

.direction-up a {
  background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.direction-down a {
  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.sort .title {
  margin: 0;
  width: 135px;
}

.sort-item a,
.direction-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort-current a,
.sort-current a:hover,
.sort-current a:focus,
.direction-current a,
.direction-current:hover a,
.direction-current:focus a,
.sort a:active {
  color: #000;
  opacity: 1;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin: 0 0 28px;
}

.catalog-item img {
  box-sizing: border-box;
  width: 360px;
  border: 1px solid rgba(0, 1, 1, 0.1);
  margin: 39px 0 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  background: url("../img/browser.svg") no-repeat 0 0;
  opacity: 0.12;
}

.catalog-item:hover.catalog-item::before {
  opacity: 1;
}

.catalog-item:hover .hover-item {
  z-index: 1;
}

.hover-item {
  position: absolute;
  box-sizing: border-box;
  bottom: 6px;
  z-index: -1;
  width: 360px;
  padding: 28px 60px 42px 60px;
  background-color: #eee;
}

.hover-item p {
  margin: 0;
  padding: 0 0 30px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
  text-align: center;
}

.hover-item .title {
  margin: 0;
  padding: 0 0 15px;
  text-align: center;
}

.catalog-btn {
  margin: 0 auto;
  width: 200px;
}

.catalog-btn:active {
  color: rgba(255, 255, 255, 1);
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0 0 60px;
  display: flex;
  align-items: baseline;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 17px 0;
  margin: 0 11px 0 0;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  background-color: #eee;
  text-align: center;
  border-radius: 5px;
}

.pagination-item-current a {
  padding: 14px 0;
  background-color: #fff;
  border: 3px solid #dbdbdb;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000;
  background-color: #fff;
}

/*--------------------------------modal-----------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -295px 0 0 -480px;
  box-sizing: border-box;
  width: 960px;
  padding: 68px 100px 84px;
  font-size: 16px;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  z-index: 3;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {

  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-close {
  opacity: 0.3;
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  top: -3px;
  left: 9px;
  content: "";
  width: 4px;
  height: 27px;
  background-color: #fb565a;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal label {
  margin: 0 0 10px;
  font-weight: 700;
  color: #000;
}

.modal-heading {
  margin: 0 0 40px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.modal-form {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-item {
  margin: 0;
  max-width: 760px;
}

.modal-item input,
.modal-item label {
  display: block;
  width: 360px;
}

.modal-item input,
.modal-item textarea {
  box-sizing: border-box;
  color: #444;
  border: 2px solid #d7dcde;
}

.modal-item input {
  margin: 0 0 35px;
  padding: 14px;
}

.modal-item textarea {
  width: 760px;
  padding: 10px;
}

.modal-item input:hover,
.modal-item textarea:hover {
  color: #444;
  border: 2px solid #b4b9bb;
}

.modal-item input:focus,
.modal-item textarea:focus {
  color: #000;
  border: 2px solid #000;
}

.modal-item input:invalid,
.modal-item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.modal-btn {
  width: 260px;
  margin: 50px 0 0;
  cursor: pointer;
}
